<div id='main'>
  <%= form_tag "/password" do %>
  <%= label_tag(:password, "Número de palavras:") %>
  <%= number_field(:password, :size, in: 2..10, step: 1) %>
  <%= submit_tag("Gerar Senha") %>
  <% end %>
</div>
