<div id='main'>
  <% (5..10).each do |size| -%>
  <p>
    <%= link_to size.to_s do %>
    Criar uma senha com <%= size %> palavras  (<%= Password.new(size).entropy.round(0) %> bits de entropia).
    <% end %>
  </p>
  <% end -%>
</div>
