<p class='password'>
  <% @password.array.each_with_index do |pswd, i| %>
  <span class='<%= paridade(i) %>'><%= pswd %></span>
  <% end %>
</p>

<p>Essa senha possui <%= @password.entropy.round 0 %> bits de entropia</p>
